*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(115,99,159,1) 50%, rgba(23,24,115,1) 100%)
  @media screen and (max-width: 370px)
    padding: 50px 0
.container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  margin: 0 auto
  @media screen and (max-width: 370px)
    height: fit-content
.main
  &__form
    position: relative
    width: 30%
    border: 1px solid gray
    border-radius: 20px
    margin-bottom: 20px
    padding: 20px 40px
    background-color: white
    @media screen and (min-width: 1920px)
      width: 800px
    @media screen and (max-width: 1600px)
      width: 40%
    @media screen and (max-width: 1100px)
      width: 50%
    @media screen and (max-width: 880px)
      width: 60%
      padding: 20px
    @media screen and (max-width: 670px)
      width: 90%
    &:before
      position: absolute
      inset: -5px
      z-index: -1
      border-radius: 20px
      content: ''
      opacity: 0.3
      filter: blur(5px)
      background: linear-gradient(90deg, rgba(237,238,174,1) 0%, rgba(247,160,45,1) 100%)
    &-btn
      width: 100%
      padding: 15px
      margin-bottom: 10px
      border-radius: 12px
      border: 1px solid gray
      background-color: transparent
      transition: box-shadow 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s
      font: 400 normal 1.5rem/1.8rem 'Times New Roman', sans-serif
      color: darkblue
      @media screen and (max-width: 400px)
        font-size: 1.3rem
        line-height: 1.5rem
      &:hover
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3)
        cursor: pointer
        transition: box-shadow 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s
    &-message
      position: absolute
      bottom: 2%
      max-width: 100%
      color: red
      @media screen and (max-width: 400px)
        font-size: 0.8rem

    &-container
      display: flex
      justify-content: space-between
      align-items: start
      flex-wrap: wrap
      column-gap: 20px
      row-gap: 20px
      margin-bottom: 30px

      &-item
        width: 100%
        &.checkbox
          display: flex
          justify-content: center
          align-items: start
          column-gap: 40px
          @media screen and (max-width: 670px)
            justify-content: space-between
          @media screen and (max-width: 400px)
            column-gap: 10px
          @media screen and (max-width: 370px)
            display: block

    &-item
      display: block
      &-label
        margin-block-end: 0
        margin-block-start: 0
        margin-bottom: 10px
        font: 400 normal 1.5rem/1.8rem 'Times New Roman', sans-serif
        color: darkblue
        @media screen and (max-width: 400px)
          font-size: 1.3rem
          line-height: 1.5rem

      & > label
        display: block
        margin-bottom: 10px
      &-block
        & > label
          display: block
        @media screen and (max-width: 370px)
          width: 100px
          margin: 0 auto 20px auto


    &-textarea
      display: block
      padding: 10px
      width: 100%
      height: 190px
      border-width: 1px
      resize: none
      font: 400 normal 1rem/1.3rem "Times New Roman", sans-serif
      transition: box-shadow 0.3s ease-in-out 0s
      &:focus
        box-shadow: inset 1px 1px 3px gray
        outline: none
        transition: box-shadow 0.3s ease-in-out 0s
      &-label
        margin-block-end: 0
        margin-block-start: 0
        margin-bottom: 10px
        font: 400 normal 1.5rem/1.8rem 'Times New Roman', sans-serif
        color: darkblue
        @media screen and (max-width: 400px)
          font-size: 1.3rem
          line-height: 1.5rem

label
  font: 400 normal 1.5rem/1.8rem 'Times New Roman', sans-serif
  color: darkblue
  @media screen and (max-width: 400px)
    font-size: 1.3rem
    line-height: 1.5rem


input
  padding: 10px
  margin-bottom: 20px
  border-radius: 20px
  border-width: 1px
  transition: box-shadow 0.3s ease-in-out 0s
  &:focus
    box-shadow: inset 1px 1px 3px gray
    outline: none
    transition: box-shadow 0.3s ease-in-out 0s
  &:not([type="checkbox"])
    display: block
    width: -webkit-fill-available
    margin-top: 5px
    border-style: solid
  &[type="checkbox"]
    width: 20px
    height: 20px
    border-radius: 20px
    margin-right: 10px